.link:hover > div {
  background-color: grey;
}

.link > div {
  background-color: #343a40;
}
.link:hover {
  color: white;
  text-decoration: none;
}

.linka {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 25px 150px 25px 150px;
  margin: auto;
}

.linka:hover {
  background-color: grey;
}

.linka:hover {
  color: white;
  text-decoration: none;
}

.vh-50 {
  height: 50vh;
}

.vh-25 {
  height: 25vh;
}

.h-33 {
  height: 33%;
}

.vh-90 {
  height: 90vh;
  z-index: -1;
  position: realtive;
}

body {
  background: url("https://www.wallpaperup.com/uploads/wallpapers/2014/01/29/241794/c1496798bca7fb0b5a5c1ee1ea881fb5-700.jpg");
  background-size: 100%;
  background-attachment: fixed;
  overflow-y: scroll;
}

.brad {
  border-radius: 25px;
}

.selected {
  background-color: lightblue !important;
}

.linkfade {
  opacity: 0.5;
  pointer-events: none;
}

@keyframes fade {
  from {
    opacity: 1;
    pointer-events: all;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
